{% extends "base.html" %}

{% block title %}Publică un Anunț de Voluntariat{% endblock %}

{% block content %}
<h2>Publică un Anunț de Voluntariat</h2>
<form action="{{ url_for('new_volunteer') }}" method="post">
  <input type="text" name="title" placeholder="Titlu Anunț" required>
  <textarea name="description" placeholder="Descriere" required></textarea>
  <input type="text" name="location" placeholder="Locație" required>
  <input type="date" name="date" required>
  <input type="submit" value="Publică">
</form>
{% endblock %}
